/* Coral color scheme */

:root {
  --accent: 252, 200, 180;         /* #FCC8B4 */
  --accent-off: 138, 115, 106;     /* #8A736A */
  --dark: 39, 30, 27;              /* #271e1b */
  --darkest: 30, 23, 21;           /* #1E1715 */
  --dark-highlight: 76, 62, 57;    /* #4C3E39 */
  --dark-apparent: 43, 34, 30;     /* #2B221E */
  
  --stylish-login: url("https://cdn.jsdelivr.net/gh/stpnwf/ZestyTheme@latest/images/login-wallpapers/stylish-coral.png");
}

#loginPage {background: url("https://cdn.jsdelivr.net/gh/stpnwf/ZestyTheme@latest/images/login-wallpapers/minimal-coral.png") !important;}
.layout-tv .backgroundContainer, .layout-desktop .backgroundContainer {background: url("https://cdn.jsdelivr.net/gh/stpnwf/ZestyTheme@latest/images/gradients/coral.png") no-repeat center center;}
.sessionAppInfo img {filter: invert(45%) sepia(70%) saturate(260%) hue-rotate(320deg) brightness(130%) contrast(60%);}
