/* Cyan color scheme */

:root {
  --accent: 187, 241, 221;          /* BBF1DD */
  --accent-off: 107, 138, 127;      /* 6B8A7F */
  --dark: 27, 36, 33;               /* 1B2421 */
  --darkest: 21, 28, 25;            /* 151C19 */
  --dark-highlight: 64, 83, 76;     /* 40534C */
  --dark-apparent: 32, 41, 37;      /* 202925 */
}

#loginPage {background: url("https://cdn.jsdelivr.net/gh/stpnwf/ZestyTheme@latest/images/login-wallpapers/pattern-cyan.png") !important;}
.layout-desktop .backgroundContainer::before {background: url("https://cdn.jsdelivr.net/gh/stpnwf/ZestyTheme@latest/images/gradients/cyan.png") no-repeat center center;}
