/* Purple color scheme */

:root {
  --accent: 216, 196, 241;         /* #D8C4F1 */
  --accent-off: 123, 116, 132;     /* #7B7484 */
  --dark: 34, 31, 38;              /* #221F26 */
  --darkest: 26, 24, 30;           /* #1A181E */
  --dark-highlight: 67, 62, 73;    /* #433E49 */
  --dark-apparent: 36, 33, 41;     /* #242129 */
  
  --stylish-login: url("https://cdn.jsdelivr.net/gh/stpnwf/ZestyTheme@latest/images/login-wallpapers/stylish-purple.png");
}

#loginPage {background: url("https://cdn.jsdelivr.net/gh/stpnwf/ZestyTheme@latest/images/login-wallpapers/minimal-purple.png") !important;}
.layout-tv .backgroundContainer, .layout-desktop .backgroundContainer {background: url("https://cdn.jsdelivr.net/gh/stpnwf/ZestyTheme@latest/images/gradients/purple.png") no-repeat center center;}
